doctype html
html
	head
		title Welcome to Bottom Time
		link(
			rel='stylesheet'
			type='text/css'
			integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u'
			crossorigin='anonymous'
			href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
		)
	body
		div(class='container')
		h1 Welcome to Bottom Time
		p.
			Hey there diver! Thanks for signing up to use the site! You rock!